.header{
    max-width: 880px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 45px 0 41px 0;
    margin-bottom: 36px;
}

.header__title{
     font-size: 150px; 
     text-align: center;
     color: #66FCF1;
     text-shadow: 2px 2px 10px #C5C6C7;
}